/* Testing */
body{
  /* background-color: blueviolet; */
  background-color: rgb(246, 246, 246);
}

#current {
  background-color: rgb(204, 195, 214);
}

/* This contains all the header, footer, and nav content */
header, Footer, #title-container, #foot-container{
  background-color: rgb(99, 0, 0);
}

#title-container {
  height: 7em
}

#foot-container{
  height: 2em;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Vollkorn', Georgia, serif;
    height: 100%;
}


.nav {
  border-bottom: solid rgba(0,0,0,.7) 2px;
}

#nav-container{
  background-color: rgba(0, 0, 0, .7);
}


/*** Header, Footer, Nav End ***/


/* Home Page Banner */

#HomePageBanner{
  /* max-height: 21.25em; */
  /* height: 21.25em; */
  text-align: center;
  /* max-width: 50%; */
  width: 100%;
  height: auto;
  /* border: solid black 1px; */
  background-color: rgb(246, 246, 246);
  margin-bottom: auto;
}
/*** Home Page Banner End ***/

/* Carousel  */
.d-block {
  /* width: 500px; */
  /* width: 100%; */
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Carousel End */

/* Home Information */
.homeInfo {
  background-color: rgb(246, 246, 246);
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
/* Home Information End*/



/*** End ^ ***/
