/* Testing connectivity */
body {
    /* background-color: red; */
}

/* Testing */
body{
    /* background-color: blueviolet; */
  }
  
#current {
    background-color: rgb(204, 195, 214);
  }
  
/* This contains all the header, footer, and nav content */
header, Footer, #title-container, #foot-container{
    background-color: rgb(99, 0, 0);
  }
#title-container,
#foot-container{
    height: 8.9375em;
  }
  
#title {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: 'Vollkorn', Georgia, serif;
      height: 100%;
}
  
  
.nav {
    border-bottom: solid rgba(0,0,0,.7) 2px;
}
  
#nav-container{
    background-color: rgba(0, 0, 0, .7);
  }
  
  
  /*** Header, Footer, Nav End ***/
  
  
  /* Home Page Banner */
  
  
#HomePageBanner{
    max-height: 21.25em;
    height: 21.25em;
    border: solid black 1px;
  }
  
  /*** Home Page Banner End ***/
  
  /* This style will allow you to see the div, this can and should be safely deleted before launch of site.
  .col-6{
    border: solid black 1px;
  }
  
  /*** End ^ ***/

.current {
  background-color: rgb(204, 195, 214);
}
