{% extends 'base.html' %}

{% block title %}Contact{% endblock %}
{% block where %}Contact Us!{% endblock %}

{% block content %}
    <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 box mr-5 " id="home-lb">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3029.734334269354!2d-74.46587578518032!3d40.59161915290947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b904d0ef439b%3A0x7e19b97d703fb7e1!2s326%20North%20Ave%2C%20Dunellen%2C%20NJ%2008812!5e0!3m2!1sen!2sus!4v1621378065562!5m2!1sen!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

      <div class="col-md-5 box align-self-center align-items-center d-flex justify-content-center" id="home-rb">
      <div>
        <b><p>326 North Ave, Dunellen, NJ 08812</p></b>
        <ul class="schedule">
          <li><b>Monday-Friday: 5–7AM + 6–8PM</b></li>
          <li><b>Saturday: 9–11AM</b></li>
          <li><b>Sunday: Closed</b></li>
        </ul>
        
        <form class="kwes-form" action="https://kwes.io/api/foreign/forms/P7ZzIo51lKx37Ywm0R9N">
          <div class="form-row">
            <div class="col">
              <label for="fullName">
                Full name
                <input type="text" id="fullName" name="fullName" class="form-control" placeholder="Enter your full name">
              </label>
            </div>    
          </div>
            <div class="form-row">
              <div class="col">
                <label for="email">
                  Email address
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email address">
              </label>    
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <label for="message">
                  Your message
                <textarea type="text" id="message" name="message" row="8" col="4" class="form-control" placeholder="Enter your message"></textarea>
              </label>    
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <button class="btn btn-success" type="submit">Send</button> 
              </div>
            </div>
        </form>

      </div>
      </div>

      <script src="https://kwes.io/v2/kwes-script.js" defer></script>

    </div>
      </div>
{% endblock %}