{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block where %}Welcome{% endblock %}
  {% block content %}
<div class="container mt-5">
      <div class="row">
        <div class="col-md-6" id="">
          <img class="img-fluid img-thumbnail" src="{{url_for('static', filename='images/club-logo.jpg')}}">
        </div>
        <!-- spacer -->
<!--        <div class="col-md-1">-->
<!--        </div>-->
        <!-- /spacer -->
        <div class="col-md-6 box p-2 align-self-center" id="home-rb">

          <h1 class="text-center h2 display-4">Welcome to Strap City Boxing Club!</h1>

          <h2 class="text-center my-5 h3 lead">New Jersey’s Mecca of Boxing & Community Wellness!</h2>

          <p>
            Strap City Boxing Club is a nationally recognized high performance boxing program.
            As one of New Jersey’s premiere clubs we have produced multiple state ,regional ,national ,and international champions over the past decade plus.
            As well as champions in the ring we have also been of service to personal non-competitive pursuits to attain better health and longevity. 
          </p>

          <p class="text-center">
            <strong>Now its time to claim what’s yours!</strong>
          </p>
        </div>
  </div>
</div>
{% endblock %}

