{% extends 'base.html' %}

{% block title %} Meet The Coaches {% endblock %}
{% block where %}Meet The Coaches{% endblock %}



{% block content %}


<div class="container mt-5">

  <!-- Coach 1 Row  -->
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <img src="{{url_for('static', filename='images/headcoach-270x321.jpg')}}" alt="coach" class="img-thumbnail">
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="box p-3">

        <h4>
          <strong>
            Coach Ahman Elliott-Hunter
          </strong>
        </h4>

        <p>
          Better known as Coach O is a nationally recognized amateur boxing coach with over 15 yrs of experience. He's
          currently the Junior Olympic Co-Chairman for USABOXING NJ and was honored by the NJ Boxing Hall of Fame named
          2018 Coach of the Year. He has a love for the sweet science of boxing and is dedicated to helping men, women,
          and children not only become champions inside the ring, but become champions in life.
        </p>

      </div>
    </div>
  </div>

  <!-- Coach 2 Row  -->
  <div class="row">

    <!-- Coaches Image  -->
    <div class="col-sm-12 col-md-4">
      <img src="{{url_for('static', filename='images/edgar.jpg')}}" alt="coach" class="img-thumbnail">
    </div>

    <!-- Coaches Bio  -->
    <div class="col-sm-12 col-md-6">
      <div class="box p-3">

        <h4>
          <strong>
            Coach Edgar Gerena
          </strong>
        </h4>

        <p>
          Assistant Head Coach at Scrap City Boxing
          10 plus years of National and International Coaching experience.
          NJ State. Reginal and National Team Coach.
          Currently a USA Nationally Certified Level 3 Boxing Coach.
          Head Coach of the USA International Team which competed VS Puerto Rico Winning The Team Gold Medal
        </p>

      </div>
    </div>
  </div>

  <!-- Coaches 3 Row  -->
  <div class="row">

    <!-- Coaches Image  -->
    <div class="col-sm-12 col-md-4">
      <img src="{{url_for('static', filename='???')}}" alt="coach" class="img-thumbnail">
    </div>

    <!-- Coaches Bio  -->
    <div class="col-sm-12 col-md-6">
      <div class="box p-3">

        <h4>
          <strong>
            ???
          </strong>
        </h4>

        <p>
          Assistant Head Coach at Scrap City Boxing ???
        </p>

      </div>
    </div>
  </div>

</div>
{% endblock %}