{% extends 'base.html' %}

{% block title %}News{% endblock %}
{% block where %}Strap City News{% endblock %}

{% block content %}
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">

        <p>Comming Soon!</p>
<!--          <div class="col-sm-12 box d-flex justify-content-center" >-->
<!--            <a href="{{url_for('static',filename='News/{}'.format(blog))}}"><h1>Headline</h1></a>-->
<!--          </div>-->
          {# Pull data in from txt file format on page #}




      </div>

    </div>
{% endblock %}


