.box{
  background-color: rgba(237,237,237,.4);
  border-radius: 2.5%;
}

.redbackground{
  background-color: #9C0900;
  border-bottom: 10px solid black;
}

.logo{
  width: 150px;
}

.custnav{
  background-color: #140200;
}

.nav-link{
  color: #fff!important;
}

.title{
  text-align: center;
  color: #9C0900;
    background: #fff;
    display: inline-block;
    letter-spacing: .15em;
    line-height: 26px;
    margin-bottom: 0;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
    top: 20px;
    font-style: normal;
    font-weight: 400;
    font-weight: 900;
}

.titlecontainer{
  border-bottom: 2px solid #9C0900;
  text-align: center;
}

#home-lb{
  height: 450px;
}

#home-rb{
  /* height: 275px; */
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

#foot{
  height: 25px;
}
