{% extends 'base.html' %}

{% block title %} Meet The Coaches {% endblock %}
{% block where %}Meet The Coaches{% endblock %}



{% block content %}


    <div class="container mt-5">
    <div class="row d-flex justify-content-around">

      <div class="col-md-3 img-thumbnail image">
        <img src="{{url_for('static', filename='images/ky1.jpeg')}}" alt="coach" class="img-thumbnail">
        <p class="d-md-none d-lg-none d-xl-none text-center">KY is...</p>
      </div>

      <div class="col-md-3 img-thumbnail box">
        <img src="{{url_for('static', filename='images/headcoach.jpg')}}" alt="coach" class="img-thumbnail">
          <p class="d-md-none d-lg-none d-xl-none text-center">Coach O is...</p>
      </div>


    <div class="col-md-3 img-thumbnail">
        <img src="{{url_for('static', filename='images/gabe.jpeg')}}" alt="coach" class="img-thumbnail">
        <p class="d-md-none d-lg-none d-xl-none text-center">Gabe is...</p>
    </div>



</div>
        <!-- Large content -->
<div class="row d-flex justify-content-center mt-3 ">
    <div class="col-md-4 px-4 d-none d-sm-block">
      <p class="text-center box">KY is...</p>
    </div>

    <div class="col-md-4 px-4 d-none d-sm-block">
      <p class="text-center box">Coach O is...</p>
    </div>

    <div class="col-md-4 d-none d-sm-block">
      <p class="text-center box">Gabe is...</p>
    </div>
</div>
        <!-- /Large content -->

    </div>
      </div>
{% endblock %}

